<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form role="form" name="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="User Name" name="username" type="text" ng-model="userName" ng-required="true">
                                <span ng-messages="form.username.$error" class="help-block help-block-error">
                                    <ng-messages-include src="sbadmin/views/messages/messages_error.html"></ng-messages-include>
                                </span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" ng-model="password" ng-required="true">
                                <span ng-messages="form.password.$error" class="help-block help-block-error">
                                    <ng-messages-include src="sbadmin/views/messages/messages_error.html"></ng-messages-include>
                                </span>
                            </div>
                            <div class="checkbox hide">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" ng-disabled="form.$invalid" ng-click="login()">Login</button>
                            <p class="text-danger text-center">{{message}}</p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>