<nb-card>
    <nb-card-header>Change Password</nb-card-header>
    <nb-card-body>
        <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="inputPassword" class="label">Current Password</label>
                <input type="password" nbInput fullWidth id="inputPassword" placeholder="Current Password"
                    formControlName="currentPassword">
                <p class="caption status-danger" *ngIf="f.currentPassword.errors?.required">
                    Current Password is required
                </p>
            </div>
            <div class="form-group">
                <label class="label">New Password</label>
                <input type="password" nbInput fullWidth placeholder="New Password" formControlName="newPassword">
                <p class="caption status-danger" *ngIf="f.newPassword.errors?.required">
                    New Password is required
                </p>
                <p class="caption status-danger" *ngIf="f.newPassword.errors?.pattern">
                    Password should be at least 6 characters long and should contain one number,one character and one
                    special character
                </p>
            </div>
            <div class="form-group">
                <label class="label">Retype Password</label>
                <input type="password" nbInput fullWidth placeholder="Retype Password" formControlName="retypePassword">
                <p class="caption status-danger" *ngIf="f.retypePassword.errors?.required">
                    Retype Password is required
                </p>
                <p class="caption status-danger" *ngIf="f.retypePassword.errors?.passwordMismatch">
                    Passwords doesn't match
                </p>
            </div>
            <button type="submit" nbButton status="primary" [disabled]="!passwordForm.valid || submitted">Save
                Changes</button>&nbsp;
            <button nbButton hero status="primary" (click)="dismiss()">Close</button>
        </form>
    </nb-card-body>

</nb-card>